@import "tailwindcss";

body {
  background-color: #0a0a0a;
  color: #e4e4e7; /* Zinc-200 */
}

/* Make text rendering smoother */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}